<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
     
    </startup>

  <connectionStrings>
    <!--<add name="Localconnection" connectionString="Data Source=35.200.216.101\MSSQLSERVER,1433;Initial Catalog=PoultryFarm;Persist Security Info=True;User ID=sa;Password=8012123295r.c." providerName="System.Data.SqlClient" />-->
       <add name="LocalconnectionAttur" connectionString="Data Source=RC;Initial Catalog=PoultryFarm;Persist Security Info=True;User ID=sa;Password=8012123295r.c." providerName="System.Data.SqlClient" />

    <add name="LocalconnectionNamakkal" connectionString="Data Source=RC;Initial Catalog=PoultryFarmNam;Persist Security Info=True;User ID=sa;Password=8012123295r.c." providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
